{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>{{ pagename }}</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            Список сниппетов:
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for snippet in snippets %}
                <tr>
                    <td scope="row">{{ snippet.id }}</td>
                    <td><a href="{{ snippet.id }}">{{ snippet.name }}</a></td>
                    <td>{{ snippet.creation_date }}</td>
                    <td><a href="/snippets/edit/{{ snippet.id }}">Изменить</a> | <a href="/snippets/delete/{{ snippet.id }}">Удалить</a> </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div align="right">
                <i style="color: gray;">Количество сниппетов: {{ snippets|length }}</i>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
